@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #fafafa;
  --second-color: #272727;
  --font-color: #272727;

  --size-navbar: 4vw;
  --size-navbar-mobile: 13vh;
}

body {
  overflow: hidden;
  background-color: var(--main-color);
}

.symbols {
  z-index: 99;

  .top {
    position: fixed;
    top: 1rem;
    left: calc(var(--size-navbar) + 2rem);
  }

  .bottom {
    position: fixed;
    bottom: 1rem;
    left: calc(var(--size-navbar) + 2rem);
  }
}

#app {
  display: flex;
  background-color: var(--main-color);
  justify-content: space-between;
  overflow-x: hidden;

  .view {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    padding-left: var(--size-navbar);
    position: relative;
    overflow: auto;
  }
}

// TODO : Custom ScrollBar

::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

::-moz-selection {
  /* Code for Firefox */
  background: var(--second-color);
}

::selection {
  background: var(--second-color);
}

// TODO : Code HTML

.code {
  font-size: 1rem;
  font-family: "La Belle Aurore", cursive;
  position: relative;
  user-select: none;
  color: var(--muted-color);
  margin-left: -1em;

  &::before {
    content: "<";
  }

  &::after {
    content: ">";
  }
}

.btn-primary {
  border: 2px solid var(--second-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1vw;
  padding: 0.7vw 1.5vw;
  display: inline-block !important;
  cursor: pointer;

  overflow: hidden;
  position: relative;

  span {
    transition: all 0.5s;
    color: var(--second-color);
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: -230%;
    transform: skew(-30deg);
    background: var(--second-color);
    transition: all 0.5s;
  }

  &:hover {
    &::before {
      left: -15%;
    }
    span {
      color: var(--main-color);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .view {
    padding-left: 0 !important;
    height: calc(100vh - 80px);
  }
  .symbols {
    display: none;
  }

  #app {
    display: block;
  }
}

.trans-back {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  z-index: 9999;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 1s;
}
