.blog-page {
  .title-page {
    margin-top: 5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: var(--red-color);
    font-size: 3rem;

    &::after {
      content: "My Blog";
      left: 10vw;
      top: 27vh;
      font-size: 4rem;
      opacity: 0.2;
      font-weight: 900;
      position: absolute;
    }
  }

  .blog-list {
    margin: 5rem auto;
    width: 90%;

    .articles {
      display: flex;
      justify-content: space-around;

      article {
        margin: 2rem;
        .title a {
          color: var(--red-color);
          text-decoration: none;
        }
        .desc {
          color: rgb(182, 182, 182);
          font-size: 0.9rem;
        }
      }
    }
  }
}

span.hov {
  width: auto;
  transition: all 0.4s ease;
  display: inline-block;
}

span.hov:hover {
  transform: rotateZ(-10deg) scale(1.2);
}
.space {
  padding: 5px;
}

@media only screen and (max-width: 1024px) {
  .blog-page {
    .title-page {
      font-size: 2rem;

      &::after {
        top: 10vh;
      }
    }
    .blog-list {
      margin-top: 0;
      width: 100%;

      .blog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;

        .information {
          width: 85%;

          .blog-title {
            font-size: 1.5rem;
            margin-top: 1rem;
          }

          .mobile-img {
            display: block;
            margin-top: 1rem;
          }
        }
        .img {
          display: none;
        }
      }
    }
  }
}
