.home {
  position: relative;
  overflow: hidden;
  height: 100%;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2vw;

    .title {
      color: var(--font-color);
    }
    .deks {
      font-size: 1.5vw;
      color: #8d8d8d;
      margin: -4vw 0 1rem 0 !important;
    }
    .btn-primary {
      padding: 0.7vw 2vw;
      font-size: 1.2vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    margin-left: 3vw !important;
    .deks {
      font-size: 3vw !important;
    }
    .btn-primary {
      font-size: 2.5vw !important;
    }
  }
}

@media only screen and (max-width: 550px) {
  .home {
    .container {
      margin-left: 20px !important;
      .deks {
        font-size: 4.5vw !important;
      }
      .btn-primary {
        font-size: 3vw !important;
        padding: 2vw 5vw !important;
      }
    }
  }
}
