.project-page {
  .title-page {
    margin-top: 3rem;
    text-align: center;
    color: var(--red-color);
    font-size: 3rem;
  }

  .cetegory {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    li {
      color: #fff;
      list-style: none;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-weight: 300;
      cursor: pointer;
    }
    .active {
      background: var(--red-color);
      font-weight: 500;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2rem auto;
    width: 90%;
    height: 100%;

    .card {
      text-decoration: none;
      width: calc(92% / 4);
      margin: 1%;

      .image {
        position: relative;
        img {
          width: 100%;
          border-radius: 10px;
          transition: all 0.3s;
        }
        .content {
          display: none;
          position: absolute;
          padding: 1rem;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 2s;

          .text {
            text-align: center;
            .title {
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
      .design {
        color: #fff;
        font-size: 0.7rem;
      }
      &:hover {
        img {
          opacity: 0.5;
        }
        .content {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .project-page {
    padding-bottom: var(--size-navbar-mobile);
  }
  .wrapper {
    .card {
      width: calc(92% / 3) !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    .card {
      width: 100% !important;
    }
  }
}
