.work-page {
  .title {
    margin-top: 5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: var(--red-color);
    font-size: 3rem;
  }

  .work-list {
    margin: 1rem auto 0 auto;
    width: 100%;

    .work {
      display: flex;
      justify-content: space-around;
      padding: 5rem 0;

      .information {
        width: 40%;
        color: var(--font-color);

        .mobile-img {
          height: 100%;
          width: 100%;
          display: none;
        }

        .tools {
          margin-top: 2rem;
          font-weight: 600;

          span {
            font-weight: 400;
          }

          .design {
            margin-top: 0.5rem;
          }
        }

        .links {
          margin-top: 2rem;

          a {
            background-color: var(--red-color);
            padding: 0.5rem 1rem;
            color: var(--font-color);
            margin-right: 1rem;
            text-decoration: none;
            border-radius: 5px;
            border: 1px solid transparent;

            &:hover {
              background: none;
              color: var(--red-color);
              border: 2px solid var(--red-color);
            }
          }
          a.disabled {
            pointer-events: none;
            /* background-color: gray; */
            opacity: 0.3;
          }
        }
      }

      .img {
        max-width: 40%;
        overflow: hidden;
        border-radius: 10px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .work-page {
    padding-bottom: var(--size-navbar-mobile);
    .work-list {
      margin-top: 0;
      width: 100%;

      .work {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;

        .information {
          width: 85%;

          .work-title {
            font-size: 1.5rem;
            margin-top: 1rem;
          }

          .mobile-img {
            display: block;
            margin-top: 1rem;
          }
        }
        .img {
          display: none;
        }
      }
    }
  }
}
