.work-page {
  .title {
    margin-top: 3rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: var(--red-color);
    font-size: 3rem;
  }

  .work-list {
    margin: 1rem auto 0 auto;
    width: 100%;

    .work {
      display: flex;
      padding: 2rem 0;
      justify-content: space-around;
      align-items: center;

      .information {
        width: 40%;
        color: var(--second-color);

        .mobile-img {
          height: 100%;
          width: 100%;
          display: none;
        }

        .description {
          font-size: 1vw;
        }
        .tools {
          margin-top: 2rem;
          font-weight: 600;
          font-size: 1vw;

          span {
            font-weight: 400;
          }

          .design {
            margin-top: 0.5rem;
          }
        }

        .links {
          margin-top: 2rem;

          a {
            background-color: var(--second-color);
            padding: 0.5rem 1rem;
            color: var(--main-color);
            text-decoration: none;
            border-radius: 5px;
            opacity: 0.9;

            &:hover {
              opacity: 1;
            }
          }
          a.disabled {
            pointer-events: none;
            /* background-color: gray; */
            opacity: 0.3;
          }
        }
      }

      .img {
        width: 35%;
        height: auto;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        img {
          transition: all 0.3s;
          border-radius: 10px;
          width: 100%;
        }

        .visit {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 70%;
          left: 0;
          display: none;

          a {
            text-decoration: none;
            color: var(--main-color);
            background-color: var(--second-color);
            height: 100px;
            width: 100px;
            font-weight: 500;
            padding: 0.7rem 2rem;
          }
        }

        &:hover {
          border: 4px solid var(--second-color);
          img {
            opacity: 0.5;
            transform: scale(1.2);
          }
          .visit {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .work-page {
    padding-bottom: var(--size-navbar-mobile);
    .work-list {
      margin-top: 0;
      width: 100%;

      .work {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;

        .information {
          width: 85%;

          .work-title {
            font-size: 1.5rem;
            margin-top: 1rem;
          }

          p {
            font-size: 1rem !important;
          }
          .mobile-img {
            display: block;
            margin-top: 1rem;
          }
        }
        .img {
          display: none;
        }
      }
    }
  }
}
